body {
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
}

h1 {
  color: #1946ba;
  font-style: normal;
  margin: 5px 5px 50px;
}

blockquote {
    padding: 5px 15px 5px 5px;
    border-left: 3px solid #ccc;
}

button {
  background-color:#ec0b43;
  color: #F5F5F5;
  height: 30px;
  border: 0;
}
